.carousel-wrapper {
  width: 100%;
}

.carousel-wrapper .carousel-div {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper .wrapper-div {
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, 1fr));
  column-gap: 100px;
  row-gap: 10px;
  transition: transform 0.3s ease;
}

.carousel-wrapper .wrapper-div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;

  @media screen and (max-width: 768px) {
    width: 35vw;
  }
}

.carousel-wrapper .arrow-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel-wrapper button {
  background-color: transparent;
  border: none;
}